<div class="container display-3 text-center" style="margin:50px ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://media.giphy.com/media/SnLkU2XG1z5io/giphy.gif" style="border-radius: 50%; width: 200px;">
            <div style="font-size:55px">Welcome <%= user.name %>
                    <br>
                    <a href="/users/logout" class="btn btn-secondary">Logout</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>