<div class="row mt-5 p-5">
    <div class="col-md-6 m-auto p-3">
        <h1 class="m-3 p-5">
            <center>Create an account or login</center>
        </h1>
        <!-- <div class="card card-body text-center "> -->
        <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
        <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-dark btn-block">Login</a>
        <!-- </div> -->
    </div>
</div>